// @import 'icon/*.png';
// @include all-icon-sprites; 

// //icon settings 
// i {
// 	height: 100px; 
// 	width: 100px; 
// 	display: inline-block; 
// }


body{
	background: white; 
}

.logo { 
	text-align: center; 
	padding: 20px 0; 
}