// @import 'icon/*.png';
// @include all-icon-sprites; 

// //icon settings 
// i {
// 	height: 100px; 
// 	width: 100px; 
// 	display: inline-block; 
// }
@import 'susy';  

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

.ag22{
	@include span (5 of 10);
	font-family: 'News Cycle', sans-serif;
}

.ag2{
	margin-top: -5em;
}

body{
	background: url('../img/background.png'); 
	text-align: center; 
}

.container{
	@include container();  
	margin: 0 auto;  
}

#nav li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}

#nav li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.6em;
        margin: 0 .5em;
        font-family: 'News Cycle', sans-serif;
        text-align: center;
}

#nav li a:hover {
        margin-top: 2px;
}

#ribbon {
   margin: 0 auto;
   width: 960px;
}

.rectangle {
   background: #245A82;
   height: 62px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
}

.l-triangle-top {
   border-color: #1E4A6B transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 1px;
   left: -50px;
}
 
.l-triangle-bottom {
   border-color: transparent transparent #1E4A6B;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -40px;
   left: -150px;
}

.r-triangle-top {
   border-color: #1E4A6B transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -45px;
   top: -107px;
}
 
.r-triangle-bottom {
   border-color: transparent transparent #1E4A6B;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -149px;
   right: -145px;
}

//body 

.ag1 {
	background-color: transparent;  
	@include box;   
	@include span (8 of 10); 
	margin: 0 auto; 
	float:none;


}

.ag9{
	background-color: rgba(240,240,240,1);
	@include span (8 of 10);
	float: none;
	margin: 0 auto;
	h2{
		@include alternateh2; 
	}
	p{
		@include alternatep;
	}
}
.ag8,.ag10{
	// background-color: $about-bg;; 
	// margin-top: 10em; 
	// background-color: rgba(240,240,240,1); 
	background-color: rgba(127,34,48,1);
	@include span (8 of 10);
	float: none;
	margin: 0 auto;
	p{
		@include p; 
	}
	h2{
		@include h2; 
	}
	#guy{
		margin-top: -1em;
	}
}

