//menu 
@mixin navLi(){
	list-style: none; 
	display: inline block; 
	// float: left; 
	float: none; 
	// margin: 1em; 
	padding-right: 20px; 
}

@mixin navLiA{
	text-shadow: 0 2px 1px rgba(0,0,0,.5); 
	display: inline block; 
	text-decoration: none; 
	color: #f0f0f0; 
	font-size: 1.6em; 
	// margin: 0 .5em; 
}

//main div box  
@mixin box(){
	background: $about-bg;
	// border: solid 1px rgba(224,224,224,.25); 
	padding: 10px; 
}

