//menu 
$rectangle: rgba(167,44,57,1); 
$rectangleD: rgba(127,34,48,1); 

//about 
$about-bg: repeating-linear-gradient(45deg, rgba(127,34,48,.5), rgba(127,34,48,.5) 10px, rgba(244,244,244,.5) 10px, rgba(244,244,244,.5) 20px);

//fonts 
$fontheading: 'Lobster';  