//menu 
$rectangle: rgba(167,44,57,1); 
$rectangleD: rgba(127,34,48,1); 

//a1 background 
$about-bg: repeating-linear-gradient(45deg, rgba(127,34,48,.7), rgba(127,34,48,.7) 10px, rgba(244,244,244,0) 10px, rgba(244,244,244,0) 20px);

